<% @inquiry = Inquiry.new %>
<section class="st-one st-c">
  <h1>Small Business? We got you too</h1>
  <p>We have the perfect rates to help you and your small business grow. Enjoy the same great software at affordable rates custom to your
  business size and numbers</p>
  <%= link_to 'Get Started', build_path(:contact_information), class: "btn st-g-button" %>
</section>
<br>
<h2 class="text-center">Enjoy the Same Great Software</h2>
<br>
<hr>
<section class="st-four">
  <div class="container currency-select pt-3">
    <div class=" col-3">
      <div class="col-auto">
        <p class="mb-0 me-2">Currency:</p>
      </div>
      <div class="col-3">
        <select id="inputCurrency" class="form-select">
          <option selected value="KES">KES</option>
          <option value="$">$</option>
          <option value="TZS">TZS</option>
        </select>
      </div>
    </div>
  </div>
  <h3>Pricing based on your business size</h3>
  <p id="text-e">create your eCommerce website. Then choose the best plan for your idea and budget – pricing only goes up when your business grows. No lock-in, no hidden fees, no credit card needed.</p>
  <div class="justify-content-center mt-5">
    <p><strong>Biling Period</strong></p>
    <span class="mr-3 bv">Monthly</span>
    <label class="switch">
      <input type="checkbox" id="billing-switch" checked>
      <span class="slider round"></span>
    </label>
    <span class="ml-3 bv">Semi-annually</span>
  </div>
  <div class="row pricing-column">
    <% Plan.startup.each do |plan| %>
      <div class="card col-md-4 col-sm-4 col-xs-12 pricing-box <%= 'value' if plan.featured? %>">
        <p><strong><%= plan.name.upcase %></strong></p>
        <div class="semi-annually">
          <p class="price ke">KES <span class="number"><%= number_with_delimiter(plan.monthly_equivalent_for(currency: "KES", billing_period: :semi_annually) / 100) %></span>/ month</p>
          <p class="price us">$ <span class="number"><%= number_with_delimiter(plan.monthly_equivalent_for(currency: "USD", billing_period: :semi_annually) / 100) %></span>/ month</p>
          <p class="price tz">TSH <span class="number"><%= number_with_delimiter(plan.monthly_equivalent_for(currency: "TZS", billing_period: :semi_annually) / 100) %></span>/ month</p>
          <p>Billed every 6 months</p>
        </div>
        <div class="monthly">
          <p class="price ke">KES <span class="number"><%= number_with_delimiter(plan.price_for(currency: "KES", billing_period: :monthly) / 100) %></span>/ month</p>
          <p class="price us">$ <span class="number"><%= number_with_delimiter(plan.price_for(currency: "USD", billing_period: :monthly) / 100) %></span>/ month</p>
          <p class="price tz">TSH <span class="number"><%= number_with_delimiter(plan.price_for(currency: "TZS", billing_period: :monthly) / 100) %></span>/ month</p>
          <p>Billed every month</p>
        </div>
        <hr>
        <ul class="plan-features">
          <% plan.features.each do |feature| %>
            <li><%= feature %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="pricing-extra-content">
    <ol>
      <h5><strong>About Namarunu-store pricing</strong></h5>
      <li>Namarunu doesn't take any fee from transactions. However, payment gateway fees from Mpesa or flutterwave may apply and are usually around 3%–4%</li>
      <li>Hosting, maintenance, backups, and updates are included in your plan. When new features are released, your eCommerce website is automatically updated.</li>
      <li>Prices do not include VAT.</li>
    </ol>
  </div>
</section>
