  <%= form_with(model: inquiry, local: true) do |form| %>
    <% if inquiry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

        <ul>
          <% inquiry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
    <div class="field col-md-8 ">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :email %>
      <%= form.text_field :email, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :store_name %>
      <%= form.text_field :store_name, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :domain_name %>
      <%= form.text_field :domain_name, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :preffered_name %>
      <%= form.text_field :preffered_name, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :plan %>
      <%= form.text_field :plan, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :billing_type %>
      <%= form.text_field :billing_type, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :web_administration %>
      <%= form.text_field :web_administration, class:"form-control" %>
    </div>

    <div class="field col-md-8">
      <%= form.label :message, "Any questions or feedback for us?"%>
      <%= form.text_area :message, class:"form-control" %>
    </div>
    <div class="actions col-md-12"><br>
      <%= form.submit 'Submit', class:"btn btn-outline-primary" %>
    </div>
  </div>
  <% end %>
