<p id="notice"><%= notice %></p>

<h1>Inquiries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Phone no</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.full_name %></td>
        <td><%= inquiry.phone_number %></td>
        <td><%= link_to 'Show', inquiry %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @inquiries %>

<%= link_to 'New Inquiry', new_inquiry_path %>
