<!DOCTYPE html>
<html>
  <head>
    <title>Namarunu - Build your online store. Fast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Namarunu">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173158853-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    gtag('js', new Date());

    gtag('config', 'UA-173158853-3');
    function gtag(){dataLayer.push(arguments);}
  </script>
</head>


  <body>
      <%= render 'shared/navbar' %>
      <span class="float float0 help-b" data-toggle="tooltip" data-placement="top" title="Need Help?">
        <a href="https://api.whatsapp.com/send?phone=+254726160664&text=Hi,%20I%20would%20like%20help%20in%20setting%20up%20a%20store" class="" target="_blank" rel="noreferrer" data-toggle="tooltip" data-placement="top" title="WhatsApp Us">
          <%= image_pack_tag 'media/images/whatsapp.png', class: "img-fluid", alt:"Send Us a Whatsapp message"%>
        </a>
      </span>
      <div class="body">
        <%= yield %>

        <%= render 'shared/footer' %>
      </div>
  </body>
</html>
