<!DOCTYPE html>
<html>
  <head>
    <title>Namarunu - Build your online store. Fast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Build your online store. Fast, Start selling online, list your products, manage orders and recive payments online">
    <meta name="author" content="Namarunu">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
      <div class="body">
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
